################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JsonNetDemos/packages
/JsonNetDemos/bin/Debug
/JsonNetDemos/obj/Debug
